* {
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.image1 img {
    position: relative;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.text {
    padding-left: 750px;
    padding-bottom: 750px;
    color: white;
    font-size: 10vw;
    position: relative;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 10 black;
}
.description {
    padding-left: 750px;
    padding-bottom: 750px;
    color: white;
    font-size: 10vw;
    position: relative;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 10 black;
}
