* {
    margin: 0;
    padding: 0;
}
.image1 {
    background-color: black;
}
.image1 img {
    position: relative;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.image1 .text {
    color: white;
    position: relative;
    top: 100%;
    bottom: 100%;
    transform: translate(-0.5%, -900%);
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.description {
    position: relative;
    color: white;
    transform: translate(-0.5%, -2250%);
    text-align: center;
    vertical-align: middle;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
