.bg-dark {
    padding-left: 10px;
}
.cart-icon {
    background-color: rgb(42, 41, 41);
    border: none;
}
.title {
    text-decoration: none;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.role-select {
    color: white;
}
