.productName {
    color: black;
    font-size: 20px;
}
.productDesc {
    color: rgb(113, 113, 113);
    font-size: 15px;
    margin: 10px;
}
.productPrice {
    color: black;
    font-size: 22px;
}
.productSize {
    color: black;
    font-size: 18px;
}
.productButton {
    height: 35px;
    width: 190px;
    font-size: 16px;
    margin: -5px 0;
}
select {
    height: 30px;
    width: 190px;
    font-size: 16px;
    margin: -5px 0;
}

.productImage img {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 20vw;
    height: 40vh;
    object-fit: cover;
}
